# Build Folders
bin/
obj/

# User-specific Files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Rider-specific
.idea/
*.sln.iml

# VS Code-specific
.vscode/

# Temporary Files
*.tmp
*.temp
*.log

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
.nuget/

# Windows-specific
Thumbs.db
desktop.ini

# Other Config Files
*.cache
*.vs/
